.highlight .c  { color: #6a737d; }
.highlight .k  { color: #d73a49; }
.highlight .o  { color: #d73a49; }
.highlight .s  { color: #032f62; }
.highlight .mi { color: #005cc5; }
.highlight .nf { color: #6f42c1; }
.highlight .nb { color: #005cc5; }
.highlight .n  { color: #24292e; }

mjx-container[jax="CHTML"][display="false"] {
  font-size: 0.9em;
  vertical-align: 0.06em;
}

mjx-container[jax="CHTML"][display="true"] {
  margin: 1.4em 0;
}
